@font-face {
    font-family: 'Conquera Medium';
    src: URL('/Conquera-Medium.woff2') format('woff2');
  }

@font-face {
    font-family: 'Product Sans Regular';
    src: URL('/Product-Sans.ttf') format('truetype');
  }
@font-face {
  font-family: 'League Spartan';
  src: url('/LeagueSpartan.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato Regular';
  src: url('/Lato/Lato-Regular.ttf') format('truetype');
}